:root {
    --primary-color: #ec931f;
    --secondary-color: #ec931f;
    --background: #F8F9FA;
    --card-bg: #ffffff;
    --text-color: #2C3E50;
    --price-color: #ec931f;
    --card-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --primary-color: #ec931f;
    --secondary-color: #ec931f;
    --background: #121212;
    --card-bg: #1E1E1E;
    --text-color: #FFFFFF;
    --price-color: #ec931f;
    --card-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}